<div class="landing-container">
  <div class="landing-content">
    <h1>Practice Your Interview Questions</h1>
    <h2>Record Your Interview Answers!</h2>
    <p>
      Create an account, and choose some of the interview questions (or have one
      chosen for you at random). An interviewer bot will then ask you the
      question and you may record your answer so that you can hear back how well
      you handled them. You may also export your interview session or share them
      with friends so that you can receive feedback on your interview answers.
    </p>
    <h2>Test an interview question!</h2>
    <app-button text="Play Demo Question" (btnClick)="demoQuestion(1)" />
  </div>
</div>
