/* You can add global styles to this file, and also import other style files */

:root {
  --primary: rgb(63, 81, 181);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn {
  cursor: pointer;
  color: white;
  border: none;
  padding: 0.5em 1em 0.5em 1em;
  letter-spacing: 1.25px;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  transform: translateY(0.5px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
